<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/">{{title}}</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <ng-container *ngIf="accountService.currentUserSource$ | async"> 
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/members">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/list">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/messages">Messages</a>
          </li>
         </ng-container> 
        </ul>
        <div class="dropdown" *ngIf="(accountService.currentUserSource$| async) as user" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase }}</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a  class="dropdown-item">Edit Profile</a>
            <a  class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
        <form *ngIf="!(accountService.currentUserSource$ | async)" class="d-flex" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
          <input 
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2" type="text" placeholder="Username">
          <input 
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2" type="password" placeholder="Password">
          <button class="btn btn-success" type="submit">Login</button>
        </form>
      
    </div>
  </nav>